.primary {
  background: #2ecc71;
  border: 2px solid #2ecc71;
}
.primary:hover {
  background: #fff;
  border: 2px solid #2ecc71;
  color: #2ecc71;
}

.secondary {
  background: #3498db;
  border: 2px solid #3498db;
}
.secondary:hover {
  background: #fff;
  border: 2px solid #3498db;
  color: #3498db;
}

.primaryColor {
  color: #2ecc71;
}

.secondaryColor {
  color: #3498db;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2ecc71;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

.secondary,
.primary {
  color: #fff;
  transition: 0.5s;
}
.secondary:hover,
.primary:hover {
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.6509803922);
}

::-moz-selection {
  background-color: #2ecc71;
  color: #fff;
}

::selection {
  background-color: #2ecc71;
  color: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  background: url("../img/download.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

input,
select {
  background: rgba(255, 255, 255, 0.7490196078) !important;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.6509803922);
  border: none;
  border-bottom: 2px solid #ddd;
  transition: 0.3s;
}
input:focus,
select:focus {
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.6509803922) !important;
  border-color: #2ecc71 !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2ecc71;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}
nav .logo {
  font-size: 1.5rem;
}
nav .logo a {
  text-decoration: none;
  color: #fff;
}
nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding: 0;
  margin: 0;
  z-index: 99;
}
nav .nav-links li {
  list-style: none;
  margin-inline: 0.5rem;
}
nav .nav-links a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.5s;
}
nav .nav-links a:hover {
  opacity: 1;
}
nav .burger {
  display: none;
  cursor: pointer;
  z-index: 99;
}
nav .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  nav .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    background-color: #2ecc71;
    margin: 0;
    padding: 0;
  }
  nav .nav-links li {
    margin: 1rem;
  }
  nav .nav-links.nav-active {
    left: 0;
    transform: translateX(0%);
    align-items: flex-start;
  }
  nav .burger {
    display: block;
  }
}
nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
nav .toggle .line2 {
  opacity: 0;
}
nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#form-section {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
#form-section .container {
  background: rgba(255, 255, 255, 0.35);
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.6509803922);
}
#form-section .container .autocomplete-container {
  position: absolute;
  z-index: 1;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
}
#form-section .container .autocomplete-container > div {
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}
#form-section .container .autocomplete-container > div:hover {
  background-color: #ddd;
}
#form-section .container .flag {
  width: 20px;
  height: 15px;
}
#form-section .container .icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 567px) {
  #form-section .container .icons {
    justify-content: space-around;
  }
}
#form-section .container .icons .icon {
  margin: 0.5rem 0;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
}
#form-section .container .icons .icon:hover {
  background-color: #fff;
}
#form-section .container .icons .icon svg {
  font-size: 1.5rem;
}
#form-section .container .icons .icon p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

#footer ul a {
  color: #000;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.5s;
}
#footer ul a:hover {
  opacity: 1;
  color: #2ecc71;
}/*# sourceMappingURL=main.css.map */